<div class="container">
  <div class="auction-item d-flex flex-column flex-md-row gap-4">
    <div class="auction-item-details d-flex flex-column gap-2">
      <h1 class="auction-item-name heading-2 text-center">Auction item name</h1>
      <div class="media">
        <img src="src/img/placeholder.png" alt=".." class="img-fluid" />
      </div>
      <div class="media-gallery d-flex gap-2">
        <div class="media">
          <img src="src/img/placeholder.png" alt="" class="media-gallery-img img-fluid" />
        </div>
        <div class="media">
          <img src="src/img/placeholder.png" alt="" class="media-gallery-img img-fluid" />
        </div>
        <div class="media">
          <img src="src/img/placeholder.png" alt="" class="media-gallery-img img-fluid" />
        </div>
        <div class="media">
          <img src="src/img/placeholder.png" alt="" class="media-gallery-img img-fluid active" />
        </div>
      </div>
      <p class="description">Description:</p>
    </div>
    <div class="bids glassmorphism">
      <div class="pill d-flex justify-content-between semi-bold bg-orange">
        <div class="current-bid">$100</div>
        <div class="timer">11:58.00</div>
      </div>
      <div class="pill d-flex flex-wrap flex-sm-nowrap justify-content-between semi-bold mt-4 mb-4 gap-2">
        <input type="number" class="bid form-control semi-bold text-grayish-purple" id="bid-input" placeholder="place bid" />
        <label for="bid-input" class="hide"></label>
        <button type="submit" for="bid-input" class="btn-local btn-height-m btn-width-xxs btn-orange btn-fontsize-s lowercase align-self-center">Submit</button>
        <div class="error-message"></div>
      </div>
      <div class="previous-bids">
        <h2 class="heading-3">Bid history:</h2>
        <div class="bid-container d-flex justify-content-between">
          <p class="sum">100$</p>
          <p class="username">Username</p>
          <time class="paragraph">11:58:00</time>
        </div>
      </div>
    </div>
  </div>
</div>
