<button class="btn-local btn-height-l btn-width-m btn-purple btn-fontsize-l extra-bold uppercase" id="publishBtn">Publish</button>
<button class="btn-local btn-height-l btn-width-m btn-purple btn-fontsize-l extra-bold uppercase" id="registerBtn">Register</button>
<button class="btn-local btn-height-l btn-width-m btn-purple btn-fontsize-l extra-bold uppercase" id="saveBtn">Save</button>
<button class="btn-local btn-height-l btn-width-m btn-white-red btn-fontsize-l uppercase" id="loginBtnLanding">Login</button>
<button class="btn-local btn-height-l btn-width-m btn-white-red extra-bold btn-fontsize-l uppercase" id="loginBtnLogin">Login</button>
<button class="btn-local btn-height-l btn-width-m btn-white-red btn-fontsize-l uppercase" id="editProfileBtn">Edit profile</button>
<button class="btn-local btn-height-l btn-width-l btn-orange btn-fontsize-l extra-bold uppercase" id="newlistingBtn">Add new listing</button>
<button class="btn-local btn-height-l btn-width-l btn-pink btn-fontsize-l extra-bold uppercase" id="usernameBtn">Username</button>

<button class="btn-local btn-height-m btn-width-xxs btn-orange btn-fontsize-s lowercase" id="submitBtn">Submit</button>

<button class="btn-local btn-height-s btn-width-s btn-white-black btn-fontsize-m uppercase" id="viewBtn">View</button>
<button class="btn-local btn-height-s btn-width-s btn-white-black btn-fontsize-m uppercase" id="editBtn">Edit</button>
<button class="btn-local btn-height-s btn-width-xs btn-white-black btn-fontsize-l lowercase" id="logoutBtn">Log out</button>
