<div class="container">
  <div class="login-form glassmorphism">
    <h1 class="heading-1">Login</h1>
    <a class="link">Register</a>
    <form id="login" class="d-flex flex-column gap-2 mt-4">
      <div class="form-floating">
        <input title="" type="email" class="form-control" id="loginEmail" placeholder="name@example.com" required />
        <label for="loginEmail" class="login-form-labels uppercase semi-bold text-brown">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="loginPassword" placeholder="Password" required />
        <label for="loginPassword" class="login-form-labels uppercase semi-bold text-brown">Password</label>
      </div>
      <button type="submit" for="login" class="btn-local btn-height-l btn-width-m btn-white-red extra-bold btn-fontsize-l uppercase mt-3">Login</button>
    </form>
    <div class="error-message"></div>
  </div>

  <div class="register-form glassmorphism">
    <h1 class="heading-1">Register</h1>
    <a class="link">Login</a>
    <form id="register" action="" class="d-flex flex-column gap-2 mt-4">
      <div class="form-floating">
        <input type="email" class="form-control" id="registerEmail" placeholder="name@example.com" required />
        <label for="registerEmail" class="register-form-labels uppercase semi-bold text-grayish-purple">Email address</label>
      </div>
      <div id="emailHelpBlock" class="form-text mb-3">The email value must be a valid stud.noroff.no email address.</div>
      <div class="form-floating mb-3">
        <input type="username" class="form-control" id="registerUsername" placeholder="Username" required />
        <label for="registerUsername" class="register-form-labels uppercase semi-bold text-grayish-purple">Username</label>
      </div>
      <div id="usernameHelpBlock" class="form-text mb-3">The username must not contain punctuation symbols apart from underscore (_).</div>
      <div class="form-floating">
        <input type="password" class="form-control" id="registerPassword" placeholder="Password" required />
        <label for="registerPassword" class="register-form-labels uppercase semi-bold text-grayish-purple">Password</label>
      </div>
      <div id="passwordHelpBlock" class="form-text">Your password must be 8-20 characters long and contain letters, numbers and special characters.</div>
      <div class="form-floating password-form mt-3">
        <input type="password" class="form-control" id="registerRepeatPassword" placeholder="Repeat Password" required />
        <label for="registerRepeatPassword" class="register-form-labels uppercase semi-bold text-grayish-purple">Repeat password</label>
        <div id="registerRepeatPasswordError" class="form-text mb-3"></div>
      </div>
      <button type="submit" for="register" class="btn-local btn-height-l btn-width-m btn-purple extra-bold btn-fontsize-l uppercase mt-3">Register</button>
    </form>
    <div class="error-message"></div>
  </div>
</div>

<div class="container">
  <div class="new-listing-form p-3">
    <form id="new-listing" class="d-flex flex-column gap-5">
      <div class="d-flex flex-column gap-2">
        <h1 class="heading-1">Details</h1>
        <div class="form-floating">
          <input title="" type="text" class="form-control" id="new-listing-title" placeholder="A hat and a rat" required />
          <label for="new-listing-title" class="new-listing-form-labels uppercase semi-bold text-grayish-purple">Title</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control" id="new-listing-description" placeholder="A new hat occupied by a rat. Perfect for a cat." required />
          <label for="new-listing-description" class="new-listing-form-labels uppercase semi-bold text-grayish-purple">Description</label>
        </div>
        <div class="d-flex">
          <label for="new-listing-auction-deadline" class="new-listing-form-labels uppercase extra-bold text-grayish-purple">Set auction deadline</label>
          <input type="datetime-local" class="form-control new-listing-auction-deadline" id="new-listing-auction-deadline" name="deadline" required />
        </div>
      </div>
      <div class="d-flex flex-column gap-2">
        <h1 class="heading-1">Media</h1>
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file -->
        <label for="media-uploads" class="new-listing-form-labels uppercase extra-bold text-grayish-purple">Choose images to upload</label>
        <input type="file" id="media-uploads" name="media" class="form-control" accept="image/*" />
        <input type="file" id="media-uploads" name="media" class="form-control" accept="image/*" />
        <input type="file" id="media-uploads" name="media" class="form-control" accept="image/*" />
        <input type="file" id="media-uploads" name="media" class="form-control" accept="image/*" />
      </div>
      <button type="submit" for="new-listing" class="btn-local btn-height-l btn-width-m btn-purple btn-fontsize-l extra-bold uppercase">Publish</button>
    </form>
    <div class="error-message"></div>
  </div>
</div>
