@import "_colors";
@import "_breakpoints";

.pill {
  border-radius: 21px;
  width: 100%;
  min-width: 110px;
}
.current-bid {
  background-color: $light-purple;
  width: 100%;
  padding: 0.5rem;
  border-radius: 21px;
  font-size: 0.875rem;
  text-align: center;
  align-self: center;
}
.timer {
  color: $white;
  padding: 0.5rem;

  width: 130px;

  font-size: 0.8rem;
  align-self: center;
  text-align: center;
}
.username {
  display: none;
}
.auction-item {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $breakpoint-phone) {
  .username {
    display: block;
  }
}
@media (min-width: $breakpoint-desktop) {
  .username {
    display: block;
  }
  .current-bid {
    // width: 55%;
    font-size: 1.1rem;
    padding: 0.2rem;
  }
  .timer {
    // width: 130px;
    padding: 0.2rem;
  }
}
