@import "_colors";
@import "_breakpoints";

// .pill {
//   border-radius: 21px;
//   // width: 100%;
//   min-width: 110px;
// }
.current-bid {
  // width: 100%;
  padding: 0.5rem;
  border-radius: 21px;
  font-size: 1rem;
  text-align: center;
  align-self: center;
}
.timer {
  // color: $red;
  padding: 0.5rem;
  margin-top: 1rem;
  width: 148px;
  height: 35px;
  font-size: 1rem;
  align-self: center;
  text-align: center;
}
.auction-item {
  margin-left: auto;
  margin-right: auto;
}
.bid {
  white-space: nowrap;
}

@media (min-width: $breakpoint-tablet) {
  .latest-bid {
    font-size: 1.25rem;
  }
  .timer {
    font-size: 0.938rem;
  }
}

@media (min-width: $breakpoint-desktop) {
  // .username {
  //   display: block;
  // }
  .current-bid {
    font-size: 1.1rem;
  }
  .timer {
    padding: 0.2rem;
  }
}
