@import "_colors";

.login-form-labels {
  font-size: 1rem;
  color: $brown;
}
.register-form-labels,
.new-listing-form-labels {
  font-size: 1rem;
  color: $grayish-purple;
}
.login-form,
.register-form {
  background: linear-gradient(310deg, $gray-30, $gray-50);
  backdrop-filter: blur(25px);
  border: 1px solid;
  border-image: linear-gradient($white-50, $white-30) 30;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

#new-listing input[type="datetime-local"]::-webkit-datetime-edit {
  color: $grayish-purple;
}

//https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button
#new-listing input[type="file"]::file-selector-button {
  color: $grayish-purple;
}
