@import "_colors";

.register-form-labels,
.new-listing-form-labels,
.login-form-labels,
.edit-profile-form-labels {
  font-size: 1rem;
}

.new-listing-form {
  padding: 1rem;
}

#new-listing input[type="datetime-local"]::-webkit-datetime-edit {
  color: $grayish-purple;
}

//https://developer.mozilla.org/en-US/docs/Web/CSS/::file-selector-button
#new-listing input[type="file"]::file-selector-button,
#edit-profile input[type="file"]::file-selector-button {
  color: $grayish-purple;
}

@media (min-width: $breakpoint-desktop) {
  .new-listing-form {
    padding-top: 4rem;
  }
  #listingMedia {
    padding: 2rem 0;
  }
}
