@import "_colors";

.title-container {
  height: 60px;
}

#listing-title {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main-listing-img {
  height: 150px;
  width: 100%;
  border-radius: 20px;
}
// .smallText {
//   font-size: 0.7rem;
// }
// .mediumText {
//   font-size: 0.9rem;
// }
// .sum {
//   width: 50px;
// }

@media (min-width: $breakpoint-phone) {
  .listing {
    min-width: 130px;
  }
  #main-listing-img {
    height: 130px;
  }
}

@media (min-width: $breakpoint-tablet) {
  .listing {
    min-width: 200px;
  }
  #main-listing-img {
    height: 180px;
  }
  // .latest-bid {
  //   font-size: 1.25rem;
  // }
  // .timer {
  //   font-size: 0.938rem;
  // }
}

@media (min-width: $breakpoint-medium-tablet) {
  .listing {
    min-width: 220px;
  }
  #main-listing-img {
    height: 200px;
  }
}

@media (min-width: $breakpoint-desktop) {
  .listing {
    min-width: 250px;
  }
  #main-listing-img {
    height: 250px;
  }
}
