@import "_colors";
@import "_breakpoints";

.media-gallery {
  max-width: 100%;
}
.media-gallery-img {
  width: 100px;
  height: 130px;
  object-fit: cover;
}
@media (min-width: $breakpoint-tablet) {
  #auction-item {
    max-width: 1000px;
  }
  #auction-item-details,
  #auction-item .bids {
    width: 50%;
  }
}
