$border-radius: 10px;
$border-width: 0;
$border-color: $white;
$border-color-translucent: $white;

$position-values: (
  0: 0,
  1: 0.2rem,
  2: 0.6rem,
  50: 50%,
  100: 100%,
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  smd: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// $input-placeholder-color: $brown;

$theme-colors: (
  "brown": #603432,
  "red": #a93338,
  "dark-red": #6f282b,
  "grayish-purple": #544862,
  "dark-purple": #6c35af,
  "light-purple": #cbacf1,
  "light-purple-disabled": #e0d6eb,
  "dark-gray": #4c4a50,
  "orange": #d36b0d,
  "dark-orange": #7f3f07,
  "orange-disabled": #f9cea8,
  "light-orange": #ffefe1,
  "error": #5f0005,
  "success": #4e0081,
  "green": #667131,
  "pink": #ef7f83,
  "pink-disabled": #f9d2d4,
  "light-pink": #f9d2d4,
);

//Local color variables:
// $white: #ffffff;
// $white-30: rgba(255, 255, 255, 0.3);
// $white-50: rgba(255, 255, 255, 0.5);
// $black-30: rgba(0, 0, 0, 0.3);
// $black-50: rgba(0, 0, 0, 0.5);
// $gray-30: rgba(226, 226, 237, 30%);
// $gray-50: rgba(226, 226, 237, 50%);
// $light-purple: #cbacf1;
// $light-purple-disabled: #e0d6eb;
// $dark-purple: #6c35af;
// $dark-purple-30: rgba(108, 53, 175, 0.3);
// $dark-purple-50: rgba(108, 53, 175, 0.5);
// $grayish-purple: #8a77a1;
// $brown: #b07472;
