$border-radius: 10px;
$border-width: 0;
$border-color: $white;
$border-color-translucent: $white;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  smd: 600px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// $input-placeholder-color: $brown;

$theme-colors: (
  "brown": #b07472,
  "red": #a93338,
  "grayish-purple": #8a77a1,
  "dark-purple": #6c35af,
  "orange": #d36b0d,
  "orange-disabled": #f9cea8,
);

// $body-color: #8a77a1;

// $gradient: linear-gradient(180deg, rgba($white, 0.50), rgba($white, 0));

// "white": #ffffff,
// "white-30": rgba(255, 255, 255, 0.3),
// "white-50": rgba(255, 255, 255, 0.5),
// "black-30": rgba(0, 0, 0, 0.3),
// "black-50": rgba(0, 0, 0, 0.5),
// $gray-30: rgba(226, 226, 237, 30%),
// $gray-50: rgba(226, 226, 237, 50%),
// "light-purple": #cbacf1,
// "dark-purple": #6c35af,
// "dark-purple-30": rgba(108, 53, 175, 0.3),
// "dark-purple-50": rgba(108, 53, 175, 0.5),
// "grayish-purple": #8a77a1,
// "orange": #d36b0d,
// "pink": #ef7f83,

// "red-30": rgba(169, 51, 56, 0.3),
// "red-50": rgba(169, 51, 56, 0.5),
// "dark-red": #6f282b
